@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');





* {
    background-color: #0E0B16;
    color: #E7DFDD;
    font-family: 'Montserrat', sans-serif;
    

}


.title{
    height: 2rem;
    text-align: center;
    background-color: #A239CA;
    margin: 0%;
    padding-bottom: 30px;
    
}
nav{
    margin-left: 77%;
}
nav ul{
    display: flex;
}
nav ul li{
    padding-left: 2rem;
    list-style-type: none;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: whitesmoke;
    padding: 10px;
    
}