<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Parth Khandenath</title>
</head>
<body>
    <section id="main">
        <section id="i2">
            SHARE AND CARE
        </section>
        <section id="i3">
            This website was made to ensure greater sharing and co-ordination among the residents of a hostel particularly. The website contains the details like name, room number, wing number, item to spare(extra item), cost of item, etc. The item is removed once the item is claimed by someone or is not available due to some other reason. The website was made collabratively using git and github by the team members.
        </section>

    </section>
    <aside id="i5">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ---->>>>&nbsp;CS200-->>--SOFTWARE TOOLS & TECHNOLOGIES&nbsp;>>>>----
    </aside>
    <section id="i4">
            <ul>
                <li><button id='i6' onclick="myFunction()">MADHUR JAIN</button></li>
                <li><button id='i7' onclick="pk()">KHANDENATH PARTH SHIVDATTA</button></li>
                <li><button id='i8' onclick="ab()">ARJIT BHAMU</button></li>
            </ul>
    </section>
    <!-- footer -->
    <!--<footer>
        <ul id="i1">
            <li>INSTRUCTOR: DR. DHIMAN SAHA</li>
            <li>ROLL-NO: MJ-12040830&nbsp;&nbsp;&nbsp;KPS-12040770&nbsp;&nbsp;&nbsp;AB-1204300</li>
        </ul>
    </footer>-->
    <script>
        function myFunction() {
          alert("Madhur Jain's roll number is 12040820");
        }
        function pk()
            {
                                alert("Khandenath Parth Shivdatta's roll number is 12040770");
                        }
            function ab(){
                                alert("Arjit Bhamu's roll number is 12040300");
                        }
    </script>
</body>
</html>



